<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Threejs with loader</title>
</head>
<body>
    <h1 style="text-align: center;">Jaws</h1>

    <form class="item" action="/" method="post">
      <label class="radio-inline"><input type="radio" name="tooth" value="upper">Upper</label>
      <label class="radio-inline"><input type="radio" name="tooth" value="lower">Lower</label>
      <button type="submit" name="list" value="radioSelected">Submit</button>
    </form>
    <script type="module" src="/<%= file %>.js"></script>
</body>
</html>
